main {
    .back {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: fixed;
    }

    .flexContainer {
        display: flex;
        justify-content: center;
    }

    .mainContent {
        position: relative;
        

        p {
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 300px;
        }
    }

    .matches {
        margin-top: 300px;
    }

    .matchRow {
        display: flex;
        flex-wrap: wrap;

        .match {
            background-color: #00000052;
            margin: 20px;
            width: 500px;

            .title {
                background-color: #00000052;
                text-align: center;

                p {
                    color: #FFFFFF;
                    margin: 0;
                    padding: 10px;
                    font-size: 25px;
                }
            }

            .data {
                border-bottom: solid 1px #FFFFFF;
                display: flex;
                margin-inline: 5px;
                align-items: center;
                
                .profile {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    justify-content: center;
                    p {
                        color: #FFFFFF;
                        margin: 0;
                        padding: 15px;
                        font-size: 20px;
                    }
                    img {
                        width: 30px;
                    }
                }

                p {
                    color: #FFFFFF;
                    margin: 0;
                    padding: 15px;
                    font-size: 20px;
                }
            }
            .data:last-child {
                border: none;
            }

            .data:hover {
                background-color: #00000052;
            }

            .data:active {
                background-color: #00000075;
            }
        }
    }
}
@media screen and (min-width:540px) {
    .matchRow {
        max-width: 540px;
    }
    
}

@media screen and (min-width:560px) {
    .matchRow {
        max-width: 540px;
    }
    
}
@media screen and (min-width:1100px) {
    .matchRow {
        max-width: 1080px;
    }
    
}

@keyframes slideinBottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}